name: Run Ansible Playbook

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      ansible_arguments:
        description: "Optional CLI arguments for Ansible:"
        required: false

jobs:
  deploy:
    runs-on: self-hosted
    container: ubuntu:22.04
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # - name: Set up APT mirror for Github Actions build
    #   run: |
    #     echo "deb http://mirror.south.netcave.io/ubuntu/ jammy main restricted universe multiverse" > /etc/apt/sources.list
    #     echo "deb http://mirror.south.netcave.io/ubuntu/ jammy-updates main restricted universe multiverse" >> /etc/apt/sources.list
    #     echo "deb http://mirror.south.netcave.io/ubuntu/ jammy-security main restricted universe multiverse" >> /etc/apt/sources.list
    #     echo "deb http://mirror.south.netcave.io/ubuntu/ jammy-backports main restricted universe multiverse" >> /etc/apt/sources.list

    - name: Install SSH client
      run: |
        apt-get update
        apt-get install -y openssh-client

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.CONAN_THE_DEPLOYER }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        echo "Host *\n  StrictHostKeyChecking no\n  User ${USER}\n  IdentityFile ~/.ssh/id_rsa" > ~/.ssh/config
      env:
        USER: operations

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12' # Specify the Python version you need for Ansible

    - name: Install Ansible
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    # - name: Install prerequisites
    #   run: |
    #     apt-get update
    #     apt-get install -y wget

    # - name: run-ansible-lint
    #   # You may pin to the exact commit or the version.
    #   # uses: ansible/ansible-lint@ce2ebd7df4486adde693d7a70f0a9cd1814bce35
    #   uses: ansible/ansible-lint@v24.2.1
    #   with:
    #     working_directory: src

    - name: Run Ansible Playbook
      run: ansible-playbook -i inventory/hosts site.yml ${{ github.event.inputs.ansible_arguments }} -f 5
      working-directory: ./src
      env:
        ANSIBLE_BECOME_PASSWORD: ${{ secrets.SUDO_PASSWORD }}
